@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html{
  font-size:62.5%;
  box-sizing: border-box;
}
body,#root{
  height:100vh;
  margin:0;
}
body,input,select,button,textarea, a{
  font-family: Montserrat,Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  
}
select{
  padding: .5em;
  border-radius: .3rem;
  
}
a{
  text-decoration: none;
}
a:hover{
 color:#f08000;
}
.grid-container{
  display:grid;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
  "main" 
  "footer";
  height:100%;
}
header{
  grid-area:header;
  background-color:#203040;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
}
header a{
  color:#fff;
  text-decoration: none;
}
main{
  grid-area:main;

}
footer{
  grid-area:footer;
  background-color:#203040;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#fff;
}
.content{
  display:flex;
  flex-wrap: wrap;
}
.main{
  flex:3 60rem;
}
.sidebar{
  flex:1 20rem;
}
/*products */
.products{
  display:flex;
  flex-wrap: wrap; 
  padding:1rem;

  list-style-type: none;
}
.products li{
  flex: 0 1 34rem;
  height:52rem;
  padding:1rem;
 margin-bottom: .5rem;
}
.product{
  display: flex;
  flex-direction:column;  
  justify-content: space-between;
  height:48rem;   
}
.product>div p{
  padding:0.5rem;
  margin:0;
}
.product img{
  max-width: 41rem;
  max-height: 43rem;
}
.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
  padding:0;
}

.product-price div,
.product-price button{
  text-align: center; 
  flex:1; 
 
}
.product-price div{
  font-size: 2rem;
  font-weight: bold;
}
.button{
  padding:1rem;
  border:.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover{
  border:.1rem #808080 solid;
}
.button.primary{
  background-color: #ffc000;
}
/* Filter*/
.filter{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
  margin:1rem;
 border-bottom: .1rem #c0c0c0 solid;
}
.filter div{
  flex:1;
}